@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
.container
{
    display: flex;
 flex:1;
    margin-top: 50px;
    flex-direction: column;
    height: 400px;
    width: 100%;
    padding: 10px;
    

  /* width: 100%;
  height: 400px;
  background-image: url('../Images/LandingPage/landingBackground.jpeg'); 
  background-attachment:fixed;
background-repeat: no-repeat;
background-size: cover;
background-size: 100%,200px; */
}
.text
{
    font-family: 'Lobster', cursive;
    align-self: center;
    font-size: 70px;
}


.aboutText
{
font-family: 'Roboto Mono', monospace;
    padding: 5px;
    font-size: 30px;
    border: gray;
    border-width: 10px;
}

.aboutContainer
{
    display: flex;
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
   margin-left: 10px;
   margin-right: 10px;
}



@media (max-width:415px) 
{.aboutContainer
{
    display: flex;
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
   margin-left: 10px;
   margin-right: 10px;
}

    .container
    {
        display: flex;
        margin: auto;
        margin-top: 20px;
        flex-direction: column;
    }

  .text
    {
        font-family: 'Lobster', cursive;
        font-size: 30px;
        align-self: center;
    }
     
    .aboutText
    {
    font-family: 'Roboto Mono', monospace;
        padding: 30px;
        font-size: 15px;
        border: gray;
        border-width: 10px;
    }
}




@media (min-width:415px) and (max-width:500px)
{

  


    .text
    {
        font-family: 'Lobster', cursive;
        font-size:2px;
        align-self: center;
    }
    .container
    {
        display: flex;
        margin: auto;
        margin-top: 50px;
        flex-direction: column;
    }
   
    .aboutText
    {
    font-family: 'Roboto Mono', monospace;
        padding: 10px;
        font-size: 20px;
        border: gray;
        border-width: 10px;
    }
}

@media(min-width:500px) and (max-width:695px)
{

 .text
    {
        font-family: 'Lobster', cursive;
        font-size:30px;
        align-self: center;
    }
    .container
    {
        display: flex;
        margin: auto;
        margin-top: 30px;
        flex-direction: column;
    }
   
    .aboutText
    {
    font-family: 'Roboto Mono', monospace;
        padding: 10px;
        font-size: 20px;
        border: gray;
        border-width: 10px;
    }

}


@media(min-width:695px) and (max-width:900px){
    .text
    {
        font-family: 'Lobster', cursive;
        font-size:30px;
        align-self: center;
    }
    .container
    {
        display: flex;
        margin: auto;
        margin-top: 25px;
        flex-direction: column;
       
    }
   
    .aboutText
    {
    font-family: 'Roboto Mono', monospace;
        padding: 10px;
        font-size: 20px;
        
       
    }
    }