@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@500&family=Ranchers&display=swap');
.container
{
    display: flex;
 
    flex:1;
   background-color: mediumvioletred;
 width: 100%;
      flex-direction: column;
    
      
}
.h3
{

    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.card
{
    display: flex;
   
   
    object-fit: cover;
}