.container
{

background-image: url("../Images/experience/expbg.jpeg");
    display: flex;
 
 flex:1;
   
  
   padding: 0px;
  margin-top: 40px;
    justify-content: center;
    background-size: cover;
    
}


.mycard{

display: flex;
width: 600px;
height:1000px;
background-color: mediumorchid;
object-fit: cover;

}


@media(max-width:415px)
{
   .container {

      flex-direction: column;
      margin-top: 10px;
      align-items: center;
    }

}

@media(min-width:415px) and (max-width:682px)
{
   .container {

      flex-direction: column;
      align-items: center;
    }

}