.container
{

    
display: flex;


background-image: url('../Images/LandingPage/landingBackground.jpeg'); 
flex-basis: 100%;
height:500px;
margin: 0;
padding: 0;
padding-left: 10px;
padding-right: 10px;
background-color: #A9A9A9;
flex-direction: column;
flex-grow: 100;
background-attachment:fixed;
background-repeat: no-repeat;
background-size: cover;


}
.AboutMe{
  
}
.navContainer
{
   

 
        display: flex;
       flex-basis: 100%;
width: auto;
height: auto;
    overflow: hidden;
    
}
.buttonContainer
{
    display: flex;
    
  
   align-self: center;
  
margin-top: 10px;
flex-basis: 100%;
width: auto;
height: auto;

}

.downloadButton{

  



}
.subscribeButton
{
    
    
    
    

}
.textContainer
{


    display: flex;
  
  margin-top: 10%;
    align-self: center;
    flex-basis: 100%;
}
.welcomeText
{
    font-size:50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
    
}
.imageContainer
{

   
display: flex;

width: auto;
height: auto;
   align-self: center;
   margin-top: 10px;
   align-items: center;
   justify-content: center;
   flex-basis:100%;
 
}
.expContainer{

display: flex;

width: 100%;
height:auto;
margin-top: 40px;

box-sizing: border-box;
flex-direction: column;
align-items: center;
justify-content: center;
flex-wrap: wrap;
background-color: hotpink;
box-shadow: gray;


}

.expImageContainer{

    display: flex;
    width: 100%;
    height: 500px;
position: relative;
align-items: center;
margin-top: 20px;

justify-content: center;

background-color: #A9A9A9;

}




@media(min-width:500px) and (max-width:695px)
{


    .container{

        width: 100%;
        height:400px
    }
    .welcomeText
    {
        font-size:30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        
        
    }

    .textContainer{

        margin-top: 80px;
        
            }
.imageContainer
{
    margin-top: 40px;
}


}




@media (min-width:415px) and (max-width:500px)
{

    .container{

        width: 100%;
        height:400px
    }
    .textContainer{

margin-top: 70px;

    }
    .welcomeText
    {
        font-size:30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        
        
    }

    .imageContainer
{

   
display: flex;

width: 200px;
height:100px;
   align-self: center;
   margin-top:80px;
   align-items: center;
   justify-content: center;
   flex-basis:100%;
}

.buttonContainer
{
    display: flex;
    flex-basis:100%;
  
   align-self: center;
  
margin-top: 10px;
width: auto;


}


}
@media(max-width:415px)
{
.container{

    background-size: 100% 300px;
 

        width: 100%;
        height:300px
    
}
    .textContainer{

        margin-top: 60px;
        
            }
            .welcomeText
            {
                font-size:20px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: white;
                
                
            }
            .buttonContainer
            {
                display: flex;
                
                flex-basis:100%;
              flex-direction: column;
              
           
            
            
            }


}