@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.container
{


background-image: url('../Images/LandingPage/landingBackground.jpg'); 




background-attachment:fixed;
background-repeat: no-repeat;

background-size: 100% 60%;
font-size: 10px;

}


.h1
{
    font-size: 4em;
margin-top: 2em;
}



@media(max-width:368px)
{

.container{
    flex-direction: column;
}

}