.container
{
    display: flex;
    flex:1;
  background-image: url("../Images/skill/skill.jpeg");
  background-size: cover;
  object-fit: contain;
    padding: 20px;
   flex-direction: column;
    background-color: #F19AF9 ;
}